body{
    padding: 0;
    margin: 0;
    font: 15px/1.3 Arial, Helvetica, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

.primary-color{
    color: #e8491d;
}

.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

header li{
    list-style :none;
    display: inline;
    padding: 0 10px 0 10px;
    margin: 10px;
}

header a:hover{
    color:#e8491d;
}

header #branding{
    float: left;
    font-size: 16px;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight{
    color:#e8491d; 
    margin-right:10px;
}

#showcase{
    margin-top:100px;
    background-color: #E1E1BF;
    min-height: 500px;
    overflow: hidden;

}

.contents{
    float: left;
    width:40%;
    padding: 2% 0% 0 10%;
}

.enq-form{
    float: right;
    width:40%;
    padding: 2% 8% 0 0;
}

.form-label{
    margin: 3px 0;
    font-size: 18px;
    width:60%;
    float: left;
    display: block;
}

.form-contents{
    width:50%;
    float: left;
    display: block;
    height: 22px;
    margin: 2px 0;
    padding: 1px;
    font-size: 16px;
}

.submit{
    width: 60%;
    float: left;
}
.submit-btn{
    background: #fff;
    margin: 13px 0;
    height:30px;
    width: 40%;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

.submit-btn:hover{
    background: #e8491d;
    cursor: pointer;
}
.flex-box{
    float: left;
    width : 60%;
    margin: 5px 5px 5px 0;
}

footer{
    color: #fff;
    background-color: #35424a;
    margin: auto;
    padding:10px;
    text-align: center;
    border-top: 3px solid #e8491d;
}

.courses{
    border-bottom: 1px solid #e8491d;
    border-top: 1px solid #e8491d;
    background-color: #E1E1BF;
    min-height: 250px;
    overflow: hidden;
}

.courses h1{
    text-align: center;
    font-size: 40px;
}

.height-200px{
    height: 200px;
}

.course-angular{
    float:left;
    width: 30%;
    text-align: center;
    margin-left: 20px;
    margin-top:15px;
    height: 450px;
}

.course-react{
    float: left;
    width: 30%;
    text-align: center;
    margin-top:15px;
    margin-left: 20px;
    height: 250px;
}

.course-node{
    float: left; 
    width: 30%;
    margin-top:15px;
    margin-left: 25px;
    text-align: center;
    height: 250px;
}